*{
  padding: 0;
  margin: 0;
}

.navbar {
  display: inline;
  padding: auto;
  background-color: white;
}

.logo {
  width: 100px;
  height: 50px;
  object-fit: contain;
  float: inline-start;
}

button {
  border: none;
  padding: auto;
  height: max-content;
  background-color: white;
  font-size: 12px;
  float: inline-end;
}
